/*==================== SKILLS ====================*/
.skills_container {
  row-gap: 0;
}

.skills_header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills_icon,
.skills_arrow {
  font-size: 2rem;
  color: var(--first-color);
}

.skills_icon {
  margin-right: var(--mb-0-75);
}

.skills_title {
  font-size: var(--h3-font-size);
}

.skills_subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.skills_arrow {
  margin-left: auto;
  transition: 0.4s;
}

.skills_list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills_titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skills_name {
  font-size: var(--normal-font-size);
  font-weight: var(--normal-font-size);
}

.skills_img {
  width: 30px;
  height: 30px;
}

.skills_bar {
  height: 5px;
  border-radius: 0.25rem;
  background-color: var(--first-color);
}

.skills_open .skills_list {
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
  .skill_title {
    font-size: var(--normal-font-size);
  }
}
